.para{
    margin-left: 13%;
    width: 75%;
}
.btn-success{
    margin-left: 42%;
    margin-top: 2%;
    cursor: pointer;
}
h2{
    color: #218838;
}
section{
    margin-top:20px;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #807EFC;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #807EFC;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: none;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}